
 <meta charset="utf-8">
 <meta content="width=device-width, initial-scale=1.0" name="viewport">

 <title>onlineworld- Index</title>
 <meta content="" name="descriptison">
 <meta content="" name="keywords">

 <!-- Favicons -->
 <link href="../assets/img/favicon.png" rel="icon">
 <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="../assets/vendor/boxicons/css/animations.css" rel="stylesheet">
 <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
 <link href="../assets/vendor/boxicons/css/boxicons.css" rel="stylesheet">
 <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
 <link href="../assets/vendor/boxicons/css/animations.css" rel="stylesheet">
 <link href="../assets/vendor/boxicons/css/transformations.css" rel="stylesheet">
 <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
 <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
 <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
 <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 <!-- Template Main CSS File -->
<link href="../assets/css/style.css" rel="stylesheet">


<section id="team" class="team section-bg">
  <div class="container" data-aos="">

    <div class="section-title">
          <h2>System</h2>
          <p>Select your operating system</p>
        </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="member d-flex align-items-start" data-aos="" data-aos-delay="">
          <div class="icon"><i class="fa fa-windows" aria-hidden="true"></i></div>
          <div class="member-info">
            <h4>Window</h4>
            <span><a [routerLink]="['/list']">64-bit/32-bit</a></span>
            <p>operating system</p>
          
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start" data-aos="" data-aos-delay="">
          <div class="icon"><i class="fa fa-apple" aria-hidden="true"></i></div>
          <div class="member-info">
            <h4>Mac</h4>
            <span><a [routerLink]="['/list']">64-bit/32-bit</a></span>
            <p>operating system</p>
         
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="" data-aos-delay="">
          <div class="icon"><i class="fa fa-linux" aria-hidden="true"></i></div>
          <div class="member-info">
            <h4>Linux</h4>
            <span><a [routerLink]="['/list']">64-bit/32-bit</a></span>
            <p>operating system</p>
          
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="" data-aos-delay="">
          <div class="icon"><i class="fa fa-android" aria-hidden="true"></i></div>
          <div class="member-info">
            <h4>Android</h4>
            <span><a [routerLink]="['/list']">6-8 version</a></span>
            <p>operating system</p>
         
          </div>
        </div>
      </div>
      </div>
      </div>
      </section>

  

