<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>onlineworld- Index</title>
<meta content="" name="descriptison">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="../assets/img/favicon.png" rel="icon">
<link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../assets/vendor/boxicons/css/animations.css" rel="stylesheet">
<link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="../assets/vendor/boxicons/css/boxicons.css" rel="stylesheet">
<link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="../assets/vendor/boxicons/css/animations.css" rel="stylesheet">
<link href="../assets/vendor/boxicons/css/transformations.css" rel="stylesheet">
<link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
<link href="../assets/vendor/aos/aos.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Template Main CSS File -->
<link href="../assets/css/style.css" rel="stylesheet">

<section id="portfolio" class="portfolio section-bg">
  <div class="container">
     <div class="section-title">
      <h2 data-aos="">Services</h2>
      <p data-aos="">check our services</p>
    </div>
  </div>
<!-- End Breadcrumbs -->

<!-- ======= Services Section ======= -->

  <div class="container" id="services" class="services">

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
          <h4><a href="">Steps</a></h4>
          <p>We provide steps to download and install any softwares</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
          <h4><a href="">Requirements</a></h4>
          <p>We Provide you Requirement according to your needs</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-video-camera" aria-hidden="true"></i></div>
          <h4><a href="">Videos</a></h4>
          <p>We provide you animation videos explaination </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-download" aria-hidden="true"></i></div>
          <h4><a href="">Download Links</a></h4>
          <p>We provide you direct download links or redirect links</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
          <h4><a href="">Error</a></h4>
          <p>Step to slove error during downloading and installing</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
          <h4><a href="">Mores</a></h4>
          <p>some more services like about softwares etc </p>
        </div>
      </div>

    </div>

  </div>
</section>