<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li class="active">
        <a  [routerLink]="['/intro']">
                Introduction
                  </a>
      </li>
      <li>  <a [routerLink]="['/requriment']">
   
        <span>Requirements</span>
    </a></li>
    
  
      <li>
        <a [routerLink]="['/steps']">
                 
                      <span>Steps</span>
                    
                  </a>
     
      </li>
      <li>
        <a [routerLink]="['/video']">
                    
                      <span>Video</span>
                  </a>
      </li>
      <li>
        <a class="" href="chart-chartjs.html">
                      <i class="icon_piechart"></i>
                      <span>Download Links</span>

                  </a>

      </li>

      <li class="sub-menu">
        <a href="javascript:;" class="">
                      <i class="icon_table"></i>
                      <span>Others</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
      
      </li>



    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->
   <!--main content start-->

   <section id="team" class="team section-bg ">
    <div class="container" data-aos="">
  
      <div class="section-title">
            <h2>About Software</h2>
            <p>Breif Introduction</p>
          </div>
  </div>
  <div class="abc xyz">
      <p>Filmora is an all-in-one home video editing production software that has powerful functionality and a fully stacked feature set. Filmora is a solid app that gives you the features and styles that have been 
        previously only available to professional film makers that have a certain level of experience and the expensive applications to match. Filmora has a simple drag and drop interface, which gives you the freedom to be artistic with the story that you want to create.
         Key features: Text and titles: support for animated text. Music library: support for adding your music tracks. Overlays and filters: specifically designed filters and overlays to give your a professional finish. Elements: Still and motion graphic support. Unique visual effects: you can incorporate over 100 visual effects.
         Speed control: Slow motion and time lapse support.</p>
         <p>
          
          PROS
          Effects, transitions, PIP: Wondershare Video Editor features a wide array of effects that become beautifully visible in the timeline. The results we achieved were tasteful, and we would be hard pressed to distinguish them from those of editing software that costs many times more.
          
          Everything in view: You will like the fresh-looking black and purple interface with its well-indicated functions and discreet buttons and graphics. Although there is no dramatic departure from common NLE designs, we found our way around it incredibly quickly, because the playback and timeline panels are always kept fixed -- only the top left panel is taking the form of each function or effect.
        </p>
    </div>
  </section> 
