
  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/animations.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
 <link href="../assets/css/style.css" rel="stylesheet">

    <section id="hero">
      <div class="container">
        <div class="row d-flex align-items-center">
        <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="">
          <h1>Learn 1000+ softwares downloading and installing steps</h1>
          <h2>step by step learning with animation video explaination</h2>
          <a [routerLink]="['/product']" class="btn-get-started scrollto">Get Started</a>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="">
          <img src="../assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
      </div>
    
    </section>
    <section id="facts">
      <div class="container" data-aos="">
  
        <div class="section-title">
          <h1 class="text-center">Facts</h1>
          <p class="text-center">Facts Related to our website</p>
        </div>
  
        <div class="row counters">
  
          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">479</span>
            <p>Happy customer</p>
          </div>
  
          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Posts</p>
          </div>
  
          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">410</span>
            <p>software lists</p>
          </div>
  
          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">783</span>
            <p>steps</p>
          </div>
  
        </div>
  
        <div class="facts-img">
          <img src="assets/img/facts-img.png" alt="" class="img-fluid">
        </div>
  
      </div>
    </section>
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>what our happy customer tell about us</p>
        </div>

        <div class=" testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>
            <img src="../../assets/img/team/team-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>golden member</h4>
          </div>

        </div>

      </div>
    </section>
    <footer class="container-fluid bg-4">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <address>
                <p></p>
                <p class="mb-4"></p>
                <div class="d-flex align-items-center">
                  <p class="mr-4 mb-0">+0 000 000</p>
                  <a href="mailto:info@yourmail.com" class="footer-link">info@onlineworld.com</a>
                </div>
                <div class="d-flex align-items-center">
                  <p class="mr-4 mb-0">+0-000-000</p>
                  <a href="mailto:Marshmallow@yourmail.com" class="footer-link">helpw@onlineworld.com</a>
                </div>
              </address>
              <div class="social-icons">
                <h6 class="footer-title font-weight-bold">
                  Social Share
                </h6>
                <div class="social">
                  <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;
                  <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;
                  <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> </a>&nbsp;
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="footer-title">Social Share</h6>
                  <ul class="list-footer">
                    <li><a href="#" class="footer-link">Home</a></li>
                    <li><a href="#" class="footer-link">About us</a></li>
                    <li><a href="#" class="footer-link">Facebook</a></li>
                    <li><a href="#" class="footer-link">Instagram</a></li>
                    <li><a href="#" class="footer-link">Blog</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <h6 class="footer-title">Product</h6>
                  <ul class="list-footer">
                    <li><a [routerLink]="['/pick']" class="footer-link">Games</a></li>
                    <li><a [routerLink]="['/pick']" class="footer-link">Animation</a></li>
                    <li><a [routerLink]="['/pick']" class="footer-link">Editing</a></li>
                    <li><a [routerLink]="['/pick']" class="footer-link">Coding</a></li>
                
                  </ul>
                </div>
                <div class="col-sm-4">
                  <h6 class="footer-title">Company</h6>
                  <ul class="list-footer">
                    <li><a href="#" class="footer-link">Partners</a></li>
                    <li><a href="#" class="footer-link">Investors</a></li>
                    <li><a href="#" class="footer-link">Partners</a></li>
                    <li><a href="#" class="footer-link">FAQ</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
         
              <p class="mb-0 text-small pt-1">© 2019-2020 <a href="https://www.bootstrapdash.com" class="text-white" target="_blank">OnlineWorld</a>. All rights reserved.</p>
            </div>
            <div>
              <div class="d-flex">
                <a href="#" class="text-small text-white mx-2 footer-link">Privacy Policy </a>          
                <a href="#" class="text-small text-white mx-2 footer-link">Customer Support </a>
                <a href="#" class="text-small text-white mx-2 footer-link">Careers </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <footer class="container-fluid bg-4 text-center">
  
      <p>website Made By <a href="#">OnlineWorld</a></p>
    </footer>


 