<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li class="active">
        <a  [routerLink]="['/intro']">
                Introduction
                  </a>
      </li>
      <li>  <a [routerLink]="['/requriment']">
   
        <span>Requirements</span>

    </a></li>
    
  
      <li>
        <a [routerLink]="['/steps']">
                 
                      <span>Steps</span>
                    
                  </a>
     
      </li>
      <li>
        <a [routerLink]="['/video']">
                    
                      <span>Video</span>
                  </a>
      </li>
      <li>
        <a class="" [routerLink]="['/download']">
                      <i class="icon_piechart"></i>
                      <span>Download Links</span>

                  </a>

      </li>

      <li class="sub-menu">
        <a href="javascript:;" class="">
                      <i class="icon_table"></i>
                      <span>Others</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
      
      </li>



    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->
   <!--main content start-->

   <section id="team" class="team section-bg ">
    <div class="container" data-aos="">
  
      <div class="section-title">
            <h2>Requirements</h2>
            <p>Basic needs</p>
          </div>
  </div>
  <div class="abc xyz">
   <p>
    <b>System Requirements</b><br><br>
    In order for FilmoraPro to run properly it must be installed on a system which meets or exceeds the following requirements.
    
   <br> <b>Windows: Microsoft Windows 10 (64-bit), Microsoft Windows 8 (64-bit)</b><br><br>
    
    
    
   <b>Internet connection: Required for online activation
    
    Processor: Intel Core i3, Core i5, Core i7 or AMD equivalent.
    
    Disk: At least 1.2 GB free hard disk space for installation.<br><br>
    
    RAM: 4GB<br>
    
    Graphics processor:<br><br>
    
    Intel HD Graphics 5000 or later
    NVIDIA GeForce GTX 700 or later
    AMD Radeon R5 240 or later
    2 GB vRAM (4GB required for HD and 4K videos)
    Recommended Minimum Hardware
    Processor: Intel Core i5-3550, Core i7, or AMD equivalent<br><br>>
    
    RAM: 8 GB</b><br><br>
    
    Graphics card:
    
    NVIDIA GeForce GTX 970 or better
    Intel Iris Plus Graphics 640 or better
    4GB Video Memory
    Supported Input Formats
    Video Formats
    
    AVCHD (M2T, MTS, M2TS), AVI (including 10-bit and 12-bit GoPro Cineform) (Windows only), DV &  HDV, MP4 (AVC/H264 & AAC), MPEG -1 &  MPEG -2 (TS, PS, MPE, MPG, MPEG, M2V) , MXF (DVCPro HD), MOV (including 10-bit and 12-bit Pro-Res and Cineform), WMV
    
    Audio Formats
    
    AAC, MP3, M4V, MPA, WAV, WMA
    
    Image Formats
    
    BMP, GIF, JPG, PNG, TIFF, OpenEXR (including 32-bit)
    
    Supported Output Formats
    AVI (Cineform, Uncompressed, PAL DV, NTSC DV) (Windows only)
    Quicktime (Cineform) (Windows only)
    Quicktime (ProRes, AVC, Photo-JPEG) (Mac only)
    OpenEXR
    MP4 (AVC/H264 & AAC)
    Image sequence (PNG, JPG, BMP)
   </p>
    </div>
  </section> 
