<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">




<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Software lists</h2>
      <p>Choose your software</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-video-camera" aria-hidden="true"></i></div>
          <h4><a [routerLink]="['/sidebar']" >Filmora</a></h4>
          <p>Free video edting software</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-play" aria-hidden="true"></i></div>
          <h4><a href="">Final cut Pro</a></h4>
          <p>Free video edting software</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-laptop" aria-hidden="true"></i></div>
          <h4><a href="">After Effect</a></h4>
          <p>Adobe video edting software</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-film" aria-hidden="true"></i></div>
          <h4><a href="">Movie maker</a></h4>
          <p>Video editing software fro beginners</p>
        </div>
      </div>

     

    </div>

  </div>
</section>