
  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/animations.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/animations.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/transformations.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
 <link href="../assets/css/style.css" rel="stylesheet">




<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2 data-aos="">Products</h2>
      <p data-aos="">check our some popular softwares</p>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app"><a [routerLink]="['/pick']">Games</a></li>
          <li data-filter=".filter-card"><a [routerLink]="['/pick']">Editing</a></li>
          <li data-filter=".filter-web"><a [routerLink]="['/pick']">Animation</a></li>
          <li data-filter=".filter-web"><a [routerLink]="['/pick']">Code</a></li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app" id="win">
        <div class="portfolio-wrap">
          <img src="../../assets/img/portfolio/img1.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/img1.jpg" data-gall="portfolioGallery" class="venobox" title="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
          </div>
          <div class="portfolio-info">
            <h4>Angular</h4>
            <p>Angualr</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web" id="win">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/img2.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/img2.jpg" data-gall="portfolioGallery" class="venobox" title="Angular"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
          </div>
          <div class="portfolio-info">
            <h4>mySQL</h4>
            <p>mySQL</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app" id="win">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/img3.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/img3.jpg" data-gall="portfolioGallery" class="venobox" title="Angular"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
          </div>
          <div class="portfolio-info">
            <h4>pencil2D</h4>
            <p>pencil2D</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card" id="and">
        <div class="portfolio-wrap">
          <img src="../../assets/img/portfolio/img4.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/img4.jpg" data-gall="portfolioGallery" class="venobox" title="Angular"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            <a [routerLink]="['/sidebar']"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
          </div>
          <div class="portfolio-info">
            <h4>Filmora</h4>
            <p>Filmora</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/img5.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/img5.jpg" data-gall="portfolioGallery" class="venobox" title="Angular"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
          </div>
          <div class="portfolio-info">
         
            <h4>Android studio</h4>
            <p>Android studio/p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/img6.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/img6.jpg" data-gall="portfolioGallery" class="venobox" title="Angular"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
          </div>
          <div class="portfolio-info">
            <h4>Last survival</h4>
            <p>Last survival</p>
          </div>
        </div>
      </div>

     

    </div>

  </div>
</section>